name: Processar e transformar leis brasileiras

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  processar-leis:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v2

      - name: Clonar repositório leis-brasileiras
        run: git clone https://github.com/MinisterioPublicoRJ/leis-brasileiras.git

      - name: Configurar Python
        uses: actions/setup-python@v2
        with:
          python-version: 2.7

      - name: Instalar Selenium
        uses: browser-actions/setup-geckodriver@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
            - run: geckodriver --version

      - name: Instalar dependências
        run: |
          cd leis-brasileiras
          pip install -r requirements.txt

      - name: Baixar e processar leis
        run: |
          python -m leis_brasileiras.download_leis --path leis.csv

      - name: Transformar CSV em estrutura de Markdown com links Obsidian
        run: |
          python script_transform.py

      - name: Commit e push
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          git add .
          git commit -m "Atualização diária das leis"
          git push
